.css__parent
{
   
}
.css__child{
    height: 50px;
    color: black;
    font-size: 24px;
    text-align: center;
    
    
}

.css__child:first-child{

}

.css__child:last-child{
    
}

.css__child:nth-child(2){
    
}

.child1 {
    background-color: rgb(156, 32, 32);
}
.child2 {
    background-color: rgb(158, 158, 40);
    position: relative;
    top:30px;
  
}
.def{
    color: black;
    font-size: 22px;
   
    gap: 12px; 
}
.def span{
    font-size: 28px; 
    padding-right: 24px;
    display: block;
}

.child3 {
    background-color: green;
    position: relative;
    z-index: 1;
}